
<style>
    * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

    body {
        background-color: #fafafa;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .container {
        background-color: #ffffff;
        padding: 40px;
        border-radius: 5px;
        width: 350px;
        height: 100vh;
        display: flex; 
        flex-direction: column; 
    }

    .form-group {
        margin-bottom: 20px;
        border: none;
        border: 1px solid #dbdbdb;
    }

    .form-label {
        display: block;
        margin-bottom: 5px;
        font-weight: 500;
    }

    .form-control {
        width: 100%;
        height: 40px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #dbdbdb;
        border-radius: 5px;
    }

    .btn {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #3797EF;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
        margin-top: 10px;
    }

    .btn:hover {
        background-color: #2684ED;
    }

    .forgot-password {
        text-align: right;
        font-size: 14px;
        color: #3797EF;
        text-decoration: none;
        margin-top: 10px;
        display: inline-block;
    }

    .signup-link {
        text-align: center;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.40);
    }

    .signup-link a {
        color: #3797EF;
        text-decoration: none;
    }

    .signup-link a:hover {
        text-decoration: underline;
    }

    .post {
        margin: 5px 10px;
        padding: 0px 15px;
    }

    .post-footer {
        display: flex;
        gap: 10px;
    }

    .post-header img {
        border-radius: 50%;
    }
    .editbtn {
        display: block;
        width: 55px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        color: #000000;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
        margin-top: 10px;
        border: 1px  black solid;
        
    }

    .editbtn:hover {
        background-color:cadetblue;
        color: #ffffff;
    }
    
</style>
{% block content %}
    <div class="container">
            {% if current_user.is_authenticated %}
                {% include "components/login_header.html" %}
            {% else %}
                {% include "components/logout_header.html" %}
            {% endif %}
            <div class="text-center">
                <small class="form-text text-muted">
                    <a href="{{ url_for('login') }}" style="display: inline-block; padding: 5px 12px; margin-top: 1.2%; margin-right: 61%; background-color: #ffffff; color: #000000; text-decoration: none; font-size: 20px;" >⬅️back</a>
                </small>
            </div>
        <div class="form-box" style="border: 1px black solid; border-radius: 5px;">
            
            <h2>Create a New Post</h2>
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.post_pic.label(class="form-control-label") }}
                    {{ form.post_pic(class="form-control-file") }}
                    {% for error in form.post_pic.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.caption.label(class="form-control-label") }}
                    {{ form.caption(class="form-control") }}
                    {% for error in form.post_pic.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>

        <div class="image-container">
            {% for post in posts %}
                
                <div class="post" style="border:1px black solid; margin: 10px 0px; border-radius: 5px;">
                    <div class="post-header" style="display: flex; align-items: center;">
                        <a href="{{url_for('profile', username=current_user.username)}}" ><img src="{{ url_for('static', filename=current_user.profile_pic) }}" alt="Post owner" style="height: 30px; width: 30px; margin-top: 15px;"></a>
                        <a href="{{url_for('profile', username=current_user.username)}}" style="text-decoration: none; color: black; margin-left: 10px;"><h2 style="height: 30px; width: 70px; margin: 0; margin-top: 18px;">{{ post.posts_owner.username}}</h2></a>
                        <a class="editbtn" href="{{ url_for('editpost', post_id=post.id) }}"style="text-decoration: none; color: black; margin-left: 24px; margin-top:18px;">editpost</a>
                    </div>

                    
                    
                    <img src="{{ url_for('static', filename='' + post.photo) }}" alt="Post Image" style="display: flex; justify-content: center; align-items: center; margin: 0 auto; width: 150px; height: 150px;" >
                    <p>{{ post.caption }}</p>   

                    <div class="post-footer">
                        <span id="likeBtn" data-post-id="{{post.id}}">❤️</span><span id="LikeCounter">{{post.likes|length}}</span>
                        <span id="commentBtn" data-post-id="{{post.id}}">💬</span><span id="CommentCounter">{{ post.comments | length}}</span>
                    </div>
                </div>
                
            {% endfor %}
        </div>
        <script>
            document.querySelectorAll("#likeBtn").forEach(btn => {
                btn.addEventListener('click', function(){
                    const xhr = new XMLHttpRequest();
                    xhr.open('POST', 'http://127.0.0.1:5000/like', true);
                    xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
    
                    xhr.onload = function () {
                        if (xhr.status === 200) {
                            const response = JSON.parse(xhr.responseText);
                            console.log(response.status);
                        } 
                    };
                    const data = JSON.stringify({ 'postId': this.dataset.postId });
                    xhr.send(data);
                })
            })
        </script>
        <div class="pagination-box">
            {% for page_number in posts.iter_pages() %}
                {% if page_number == posts.page %}
                    <a href="{{ url_for('index', page=page_number) }}" style="color: red;">{{page_number}}</a>
                {% else %}
                    <a href="{{ url_for('index', page=page_number) }}" style="color: black;">{{page_number}}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}