{% extends 'layout.html' %}

{% block content %}
	<div class="container">
        <form method="POST" action="" class="form-signin">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="text-center"><h2>Login</h2></legend>

				<div class="form-group">
					{{ form.username.label(class="form-label") }}

					{% if form.username.errors%}
						{{ form.username(class="form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.username.errors %}
								{{ error }}
							{% endfor %}
						</div>
					{% else %}
						{{ form.username(class="form-control") }}
					{% endif %}

				</div>

				<div class="form-group">
					{{ form.password.label(class="form-label") }}

					{% if form.password.errors%}
						{{ form.password(class="form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.password.errors %}
								{{ error }}
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(class="form-control") }}
					{% endif %}

				</div>
			</fieldset>
			<div class="text-center">
				{{ form.submit(class="btn btn-primary btn-block") }}
				<small class="form-text text-muted">
					<a href="{{ url_for('forgotpassword')}}">Lupa Kata Sandi?</a>
				</small>
			</div>
			<small class="form-text text-muted text-center">
				<a href="{{ url_for('signup') }}">Belum punya akun ?</a>
			</small>

		</form>
	</div>
{% endblock content %}