<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #fafafa;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .section-content {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        width: 690px;
        height: 100%;
    }

    .image-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 16px;
        padding: 16px;
        justify-content: space-evenly;
        max-width: 100%;
        width: 100%;
    }

    .image-item {
        position: relative;
        overflow: hidden;

    }

    .image-item img {
        display: block;
        width: 100%;
        height: auto;
        border: 1px solid #ddd;
        border-radius: 6px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .profile-card {
        border: 1px solid black;
        background-color:rgb(241, 233, 233);
        display: flex;
        width: 100%;
        padding: 20px;
        text-align: center;
        margin: 20px 0px;
        border-radius: 15px;
    }



    .profile-photo img {
        max-width: 100%;
        height: auto;
    }

    .profile-info {
        margin-left: 20px;
        text-align: left;
    }

    .profile-info h2 {
        margin: 0;
    }

    .profile-info p {
        margin: 5px 10px 5px 0;
        display: inline-block;
        border: 2px black solid;
        border-radius: 5px;
        background-color: #ffffff;

    }

    .profile-info a {
        margin-top: 5px;
        display: block;
        font-size: 16px;
    }

    .btn {
        display: block;
        width: 100%;
        height: 18px;
        line-height: 18px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        color: #000000;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
        margin-top: 10px;
        border: 1px  black solid;
        
    }

    .btn:hover {
        background-color:cadetblue;
        color: #ffffff;
    }

</style>


{% block content %}
    <div class="section-content">
        {% if current_user.is_authenticated %}
            {% include "components/login_header.html" %}
        {% else %}
            {% include "components/logout_header.html" %}
        {% endif %}
        <a class="" href="{{url_for('index')}}" style="text-decoration: none; color: #3797EF; font-size: 24px;" >🏠Home</a>
        <a class="" href="{{url_for('logout')}}" style="text-decoration: none; color: #3797EF; font-size: 24px; padding-left: 480px;" >Logout</a>
        
        <div class="profile-card">
                {% if current_user.profile_pic %}
                    <div class="profile-photo" style="border: 1px black solid; border-radius: 50%;">
                        <img src="{{ url_for('static', filename=current_user.profile_pic) }}" alt="Profile pic" style="width:150px; height:150px; display: flex; align-items: center; justify-content: center; margin: 0 auto; border-radius: 50%; background-color: white;">
                    </div>
                {% else %}
                    <div class="profile-photo" style="border: 1px black solid; border-radius: 50%;">
                        <img src="{{ default_picture_url }}" alt="default pic" style="width:150px; height:150px; display: flex; align-items: center; justify-content: center; margin: 0 auto; border-radius: 50%; background-color: white;">
                    </div>
                {% endif %} 
            <div class="profile-info">
                <h2>{{current_user.fullname}}</h2>
                <p>bio:{{ current_user.bio }}</p>
                <p>Following: {{ current_user.following_users|length }}</p>
                <p>Follower: {{ current_user.follower_users|length }}</p>
                <a class="btn btn-primary" href="{{ url_for('editprofile') }}">Edit Profile</a>
                <a class="btn btn-primary" href="{{ url_for('resetpassword') }}">Change Password</a>
                <a class="btn btn-primary" href="{{ url_for('index') }}">Create a post</a>
            </div>
        </div>

        <div class="image-container">
            {% for post in posts %}
            <div class="image-item"><img src="{{ url_for('static', filename='' + post.photo) }}" alt="Post Image"></div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}