{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class=""><h2>Reset password</h2></legend>

            

            <div class="form-group">
                {{ form.old_password.label(class="") }}

                {% if form.old_password.errors%}
                    {{ form.old_password(class="") }}
                    <div class="">
                        {% for error in form.old_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.old_password(class="form-control ") }}
                {% endif %}

            </div>


            <div class="form-group">
                {{ form.new_password.label(class="") }}

                {% if form.new_password.errors%}
                    {{ form.new_password(class="") }}
                    <div class="">
                        {% for error in form.new_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.new_password(class="form-control ") }}
                {% endif %}

            </div>

            <div class="">
                {{ form.confirm_new_password.label(class="") }}

                {% if form.confirm_new_password.errors%}
                    {{ form.confirm_new_password(class="") }}
                    <div class="">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_new_password(class="form-control ") }}
                {% endif %}

            </div>
        </fieldset>
        <div class="">
            {{ form.submit(class="btn btn-outline-info") }}
            <div class="text-center">
                <small class="form-text text-muted">
                    <a href="{{ url_for('login') }}" style="display: inline-block; padding: 5px 12px; margin-top: 1.2%; margin-right: 61%; background-color: #dbdbdb; color: #ffffff; text-decoration: none; border-radius: 5px; font-size: 20px;" >🔙</a>
                </small>
            </div>
        </div>
    </form>
</div>
{% endblock content %}