<header>
    <img src="a" alt="logo">
    <ul>
        
            <a href="{{ url_for('index')}}"></a>
        
        
            <a href="{{ url_for('profile', username=current_user.username)}}"></a>
        
        
            <a href="{{ url_for('logout')}}"></a>
            
        
        
            <a href="{{ url_for('editprofile')}}"></a>
        
        
            <a href="{{ url_for('createpost')}}"></a>
        
        
            <a href="{{ url_for('editpost')}}"></a>
        
    </ul>
</header>