<header style="display: flex; justify-content: center; align-items: center;">
    <img src="{{url_for('static',filename='logo.png')}}" alt="logo" style="width: 180px;">
    <ul>
        
            <a href="{{ url_for('about')}}"></a>
        
        
            <a href="{{ url_for('login')}}"></a>
        
        
            <a href="{{ url_for('signup')}}"></a>
        

        
            <a href="{{ url_for('verificationpassword')}}"></a>
        
        
            <a href="{{ url_for('forgotpassword')}}"></a>
        
        
            <a href="{{ url_for('resetpassword')}}"></a>
        
       
    </ul>
</header>